<div class="row">

  <div class="d-flex col-md-12 align-items-center p-3 my-3 text-white-50 bg-purple rounded shadow-sm">
    <div class="lh-100">
      <h6 class="mb-0 text-white lh-100">Asignaturas</h6>
      <small>Administración de las Asignaturas de la Universidad</small>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12 my-3 p-3 bg-white rounded shadow-sm">

    <div class="col-md-12 text-right">
      <a href="#">Crear Materia</a>
    </div>
    <div class="table-responsive">
        <h6 class="border-gray pb-2 mb-0">Lista de Asignaturas</h6>
      <table class="table table-striped">       
        <thead>
          <tr>
           <th>Nombre Asignatura</th>
            <th>Grupo</th>
            <th>Grupo</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let materia of materias">
            <td>{{materia.nombre}}</td>

            <td><button type="button" id="update" class="btn btn-success">Actualizar</button></td>
            <td><button type="button" id="delete" class="btn btn-danger">Eliminar</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>